.cards__image{
  height: 160px;
  width: 160px;
  border-radius: 50%; /*При первом прочтении ревью,не сразу сообразил почему 50% , открыв код, сразу дошло. Впредь буду внимательнее.*/
  margin:60px 40px 43px 40px;
}
